<a href="https://colab.research.google.com/github/esa-prakasa/autov/blob/master/binary_lane_2_TEST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load dan mount Google Drive
from google.colab import drive

# Pilihan user authorization dengan menggunakan account Google
drive.mount('/content/drive')

# Pilihan user authorization dengan menggunakan account Google

path = "/content/drive/My Drive/Colab Notebooks/dataset"
!ls -l "/content/drive/My Drive/Colab Notebooks/dataset"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive
total 102715
-rw------- 1 root root      168 Feb  7 04:37  abc.csv
-rw------- 1 root root    46323 Feb 11 07:41  b15.jpg
-rw------- 1 root root   310090 Feb  7 04:18  juanda.jpg
-rw------- 1 root root  3780462 Feb  7 09:53  juantestbw.bmp
-rw------- 1 root root   993426 Feb  7 09:51  juantest.jpg
-rw------- 1 root root  2458120 Feb 11 07:41  keras_model.h5
-rw------- 1 root root       15 Feb 11 07:41  labels.txt
-rw------- 1 root root      151 Feb  7 04:32 'pima-indians-diabetes (1).data.csv.gdoc'
-rw------- 1 root root    23278 Feb  7 03:47  pima-indians-diabetes.data.csv
-rw------- 1 root root      151 Feb  7 04:33  pima-indians-diabetes.data.csv.gdoc
-rw------- 1 root root    39617 Feb 11 07:42  r15.jpg
-rw------- 1 root root        0 Feb  7 15:02  rc_result20200207150205.csv.csv
-rw------- 1 root root  3780324 Feb  7 15:02  rc_result20200207150222.csv.csv
-rw------- 1 root root  3780324 Feb  7 16:08  rc_result20200207160845.csv.csv
-rw------- 1 root root 21367491 Feb  7 11:24  result20200207112420.csv
-rw------- 1 root root       30 Feb  7 15:02  result20200207150205.csv
-rw------- 1 root root 21367491 Feb  7 15:02  result20200207150222.csv
-rw------- 1 root root       30 Feb  7 16:11  result20200207160845.csv
-rw------- 1 root root 20535894 Feb  7 08:01  rgb20200207145649.csv
-rw------- 1 root root  6229258 Apr 16 05:15  road20pct_200.csv
-rw------- 1 root root     1970 Apr 16 00:34  road_model_20pct200.json
-rw------- 1 root root     1518 Feb  7 09:38  road_model.json
-rw------- 1 root root    18632 Apr 16 00:34  road_wg_model_20pct200.h5
-rw------- 1 root root    15872 Feb  7 09:38  road_wg_model.h5
-rw------- 1 root root 20422411 Feb  7 10:08  test20200207170710.csv

In [0]:
import numpy as np
import cv2
import datetime

In [0]:
img = cv2.imread("/content/drive/My Drive/Colab Notebooks/dataset/juantest.jpg")
bwt = cv2.imread("/content/drive/My Drive/Colab Notebooks/dataset/juantestbw.bmp",0)

hg = img.shape[0]
wd = img.shape[1]

print(hg)
print(wd)

639
1479

In [12]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#dataset = pd.read_csv("/content/drive/My Drive/Colab Notebooks/dataset/test20200207170710.csv")
dataset = pd.read_csv("/content/drive/My Drive/Colab Notebooks/dataset/csvfiles/test_road20pct_210.csv")

dataset.head(10)

    No   i   j    r    g   b   class
0  210   0   0   11    8  11       0
1  210   0   1   10    9  10       0
2  210   0   2    8    9   9       0
3  210   0   3    8    8   9       0
4  210   0   4    8   10  11       0
5  210   0   5    9    8  10       0
6  210   0   6    9    8   9       0
7  210   0   7    9   10  10       0
8  210   0   8   11    9  13       0
9  210   0   9   10   10  10       0

In [13]:
dataset.head(5)

    No   i   j    r    g   b   class
0  210   0   0   11    8  11       0
1  210   0   1   10    9  10       0
2  210   0   2    8    9   9       0
3  210   0   3    8    8   9       0
4  210   0   4    8   10  11       0

In [14]:
Y0.head(5)

NameError: ignored

In [0]:
#standardizing the input feature
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
X

array([[-1.72934236, -1.73088011,  1.97955263, -0.05014185, -1.26597319],
       [-1.72934236, -1.72853792,  1.99386907, -0.11039178, -1.29427149],
       [-1.72934236, -1.72619572,  1.99386907, -0.00495441, -1.19522745],
       ...,
       [ 1.72934236,  1.72619572, -0.01043333, -0.0953293 ,  0.0498976 ],
       [ 1.72934236,  1.72853792, -0.05338266, -0.14051674,  0.00745015],
       [ 1.72934236,  1.73088011, -0.03906622, -0.12545426,  0.0215993 ]])

In [0]:
X_test = X
Y_test = Y

path = "/content/drive/My Drive/Colab Notebooks/dataset/"
print(path)

hello/content/drive/My Drive/Colab Notebooks/dataset/

In [0]:
from keras.models import model_from_json


# load json and create model
json_file = open((path+'road_model.json'), 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights(path+"road_wg_model.h5")
print("Loaded model from disk")
 
# evaluate loaded model on test data
loaded_model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])
score = loaded_model.evaluate(X_test, Y_test, verbose=0)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))

Loaded model from disk
acc: 93.28%

In [0]:
result = loaded_model.predict(X_test)

In [0]:
max(result)
finClass = np.round(result)
print(max(finClass))

[1.]

In [0]:
import datetime

now = datetime.datetime.now()
fileName = now.strftime("%Y%m%d%H%M%S")
fileName = 'result'+fileName+'.csv'

file1 = open((path+fileName),"w") 

dataItem = ("i j red green blue class comp")
file1.write(dataItem+"\n")


Nx = len(X0)
print(N)

seg = np.zeros((Nx,7), dtype=int)

#for i in range(int(0.993*Nx),Nx):
for i in range(Nx):
  seg[i,0] = dataset.iat[i, 0]
  seg[i,1] = dataset.iat[i, 1]
  seg[i,2] = dataset.iat[i, 2]
  seg[i,3] = dataset.iat[i, 3]
  seg[i,4] = dataset.iat[i, 4]
  seg[i,5] = dataset.iat[i, 5]
  seg[i,6] = finClass[i,0]  
  dataItem = (str(seg[i,0])+' '+str(seg[i,1])+' '+str(seg[i,2])+' '+str(seg[i,3])+' '+str(seg[i,4])+' '+str(seg[i,5])+' '+str(seg[i,6]))
  file1.write(dataItem+"\n")
  #print(dataItem)


file1.close() #to change file access modes

945081